.theme-dark {
    ion-content {
        background-color: color($colors, dark);
        color: color($colors, light);
    }

    .header .toolbar-background {
        background-color: color($colors, dark);
        border-color: color($colors, dark);
    }

    .toolbar-title {
        color: color($colors, light);
    }

    ion-item, button.item {
        background-color: color($colors, dark);
        color: color($colors, light);
    }
}